{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
    <h1> Add Comment </h2>

    <br/>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Add Comment</button>
        </form>
    </div>
    <script>
        var name = "{{ user.id }}";
        document.getElementById("elder").value=name;
    </script>
{% else %}
    <p> You can't Create a comment because you are not login </p>

{% endif %}

{% endblock %}