{% extends 'base.html' %}
{% block content %}


{% if user.is_authenticated %}
    {% if request.user == post.author  %}
        <h1> Update Post </h2>

        <br/>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-secondary">Update</button>
            </form>
        </div>
    {% else %}
    <p> You can't update a post because you are not login </p>

    {% endif %}

{% else %}
    <p> You can't update a post because you are not login </p>

{% endif %}

{% endblock %}